<!DOCTYPE html>
<html>
<head>
	<title>Project Map</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.Default.css" />

	<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="app.css" />


</head>
<body ng-app="projectsMapApp">

<div ng-controller="appCtrlr" ng-init="doInit()">
	<div class="mapContainer">
	<div id="mapid" class="mapPane"></div>
	<div id="app_status" class="statusBox">
		<div>{{ displayStatus }}</div>
	</div>
	</div>

	<div id="controls" class="appMenu">
	
	<div class="titleBlock">Projects Map</div>
	<div>Cluster data?: 
		<button ng-click="toggleClustering()">{{ !showClusters }}</button>
	</div>

	<div class="filterBox"><b>Color counties.</b>
	<ul class="filterList">	
		<il ng-click='colorBy("")'>By Projects</il>
		<il ng-click='colorBy("")'>By Avg Proj Cost</il>
	</ul>
	</div>

	<div class="filterBox"><b>Filter projects</b>
		
		<div class="filterBox">
		<input type='checkbox' ng-model="projFilter.showOnlyProjsWithTitle" />Only titled projs
		</div>

		<div class="filterBox">
		<label htmlFor="titleKWInput">Title (partial)</label>
		<input name="titleKWInput" type='text' ng-model="projFilter.titleKeyword" value="" /></div>
		</div>



		<div class="filterBox">Filter by NG Programme</div>
        <select name="ngProgramsToShow" ng-model="projFilter.ngProgrammeFilter" multiple style="height:15em;width: 98%;">
            <option ng-repeat="ngprog in uniquePropValues.ng_programme | orderBy:orderNGProgramByText" value="{{ ngprog }}" >{{ngprog | displayOnlyAfterHyphen }}</option>
		</select>
		<button ng-click="doFilter()">Filter Projects</button>
		<button ng-click="clearFilters()">Clear Filters</button>
	</div>
	

	</div>


	<div class="spinnyOverlay"  ng-show="currentlyRendering">
		<img src="imgs/loading.gif" />
	</div>
</div>

<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>	
<script src="https://unpkg.com/leaflet.markercluster@1.0.5/dist/leaflet.markercluster.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="js/vendor/leaflet.ajax.min.js"></script>
<script src="js/map.js"></script>



</body>
</html>
