.mapContainer
{
	position:absolute;
	top:0px;
	background-color:#222222;
	right: 0px;
	width: 80%; 
	height: 110%; 
	margin: 0;
	border-left:2px black solid;
}

.filterBox
{
	margin-top: 1em; 
}

.filterList
{
	padding-top: 1em;
	font-size:1rem;
}
.customButton
{

}

.projDescText, .projObjectivesText
{
	font-family: helvetica, arial, sans-serif;
	font-size:10px;
}

.mapPane { 
	width: 95%; 
	height: 90%; 
	margin: auto;
	margin-top: 1%;
}

.statusBox {
	height: 1em;
	width: 80%;
	bottom:2%;
	margin-top: auto;
	margin: auto;
	padding: 10px;
	font-family: helvetica, arial, sans-serif;
	color: #22aaaa;;
}

.spinnyOverlay
{
	position: absolute;
    top: 25%;
    left: 45%;
    z-index: 1000;
}

.appMenu {
	padding:5px;
	position: absolute;
	top: 0px;
	left:0px;
	width: 20%;
	min-width: 5rem;
	height: 100%;
	margin: 0;
	background-color: #00ccee;
	border-right:2px black solid;
	font-family: helvetica, arial, sans-serif;
	font-size:12pt;
}

.titleBlock
{
	padding-top:5px;
	font-size:14pt;
	font-weight:bold;
}


/*  TODO: mq/ above looks okay until about <650px  */


